body {
  background-color: rgba(0, 0, 0, 0.884);
  color: #03C4A1;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
  display: grid;
  min-width: 320px;
  margin: auto;
  grid-template-columns: 100%;
  grid-template-rows: 10% 75% 15%;
  grid-template-areas: 
  "navbar"
  "aside aside aside"
  "nav main main"
  "footer";
  justify-content: stretch;
  align-items: stretch;
  grid-gap: 8px;
}

a {
  color: #C62A88;
  font-weight: bold;
  text-decoration: none;
  font-size: larger;
}

a:hover {
  color: #c7619e;
}

.card {
  background-color: black;
  border-color: #03C4A1;
  border-width: 5px;
}

.fa {
  font-size: 40px;
}

.landing {
  font-family: 'GSL (Global StarCraft League)', sans-serif;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.808);
  padding-bottom: 20vh;
  padding-top: 20vh;
}

.landing h1 {
  font-size: 80px;
}

.landing h2 {
  font-size: 60px;
}

.about {
  padding-bottom: 8vh;
  padding-top: 3vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.para {
  padding-left: 80px;
  padding-right: 80px;
}